body{
	margin:0;
	color:#6a6f8c;
	background-image:url("quiz.jpg") ;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}

.login{					/* for setting body of login*/
	width:100%;
	margin:80px;
	margin-left:35%;
	max-width:525px;
	min-height:600px;
	position:relative;
	/*background-image:url("questionmark.jpg") ;*/
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{					/*for body of login*/
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,				/*For sign-in and sign-up buttons*/
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,					/* for not showing radio point */
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,					/* for making letter in uppercase o button,radio ie sign-in and sign-up*/
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;				/* for getting spaces and size of sign-in and sign-up*/
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{				/* for getting line below sign-in and sign-up*/
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;					/* for giving place of components */
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{						/*defining space below each component*/
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{					/*for gives size to components*/
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;					/*for gives other features to components except label*/
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}


.login-form .group .button{					/*color to button*/
	background:#1161ee;

}
.login-form .group label .icon{					/*for keep me singed in*/
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}


.login-form .group .check:checked + label{			/*giving color to keep me signed in after checking it*/
	color:#fff;
}
.login-form .group .check:checked + label .icon{			/*giving color to box of keep me signed in after checking it*/
	background:#1161ee;
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{		/*for animation of going to sign-up*/
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{			/*for animation of going to sign-in*/
	transform:rotate(0);
}

a {
  color: white;
}

.hr{
	height:2px;							/*for line after button*/
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;							/*for already member and forget alignment*/
}